@tailwind base;
@tailwind components;
@tailwind utilities;


/* Center the entire container */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; /* Optional: Background color */
  }
  
  /* Style for the button */
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  